
root { 
    display: block;
}
.underConstructionImg {
    width: 500px;
    height: 400px;
    top: 50%;
    left: 50%;
}

.underConstructionText {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.headerTableTitle {
    font-size: 14px;
    font-weight: bold;
}

.columnMainTable {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    
}

div#mainContent {

    width: 70%;
}

.yui-skin-sam .yui-layout .yui-layout-hd {
       border: 0;
}
