
root { 
    display: block;
}
.underConstructionImg {
    width: 500px;
    height: 400px;
    top: 50%;
    left: 50%;
}

.underConstructionText {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.headerTableTitle {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.columnMainTable {
    text-align: center;
    font-family: sans-serif;
    width: 349px;
    
}

div#mainContent {

    width: 90%;
}
