
root { 
    display: block;
}
.underConstructionImg {
    width: 500px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
}

.underConstructionText {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    left: 28%;
    top: 5%;
}

.headerTableTitle {
    
    font-size: 14px;
    font-weight: bold;
}

.columnMainTable {
    font-family: sans-serif;
    width: 100px;
}
